@model client.Models.Form

@using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { @class = "form_signIn" }))
{
    <h2 class="form_signIn_header">Sign In</h2>
    <div class="form_signIn_email">
        @Html.LabelFor(formModel => formModel.SignIn.Email, new { @class = "form_signIn_label" })
        <div class="form_signIn_input">
            @Html.TextBoxFor(formModel => formModel.SignIn.Email, new { autocomplete = "off", type = "email" })
        </div>
        <p>@Html.ValidationMessageFor(formModel => formModel.SignIn.Email)</p>
    </div>
    <div class="form_signIn_password">
        @Html.LabelFor(formModel => formModel.SignIn.Password, new { @class = "form_signIn_label" })
        <div class="form_signIn_input">
            @Html.PasswordFor(formModel => formModel.SignIn.Password, new { id = "signIn_password_input" })
            <i class="fa-solid fa-eye" id="form_signIn_password_show" onclick="showPassword('signIn')"></i>
            <i class="fa-solid fa-eye-slash" id="form_signIn_password_hide" onclick="hidePassword('signIn')"></i>
        </div>
        <p>@Html.ValidationMessageFor(formModel => formModel.SignIn.Password)</p>
    </div>
    <div class="form_signIn_btn">
        @Html.AntiForgeryToken()
        <input type="submit" value="Login" class="button" disabled />
    </div>
    <div class="form_signIn_other_actions">
        <p><span>Forgot Password</span></p>
        <p>@Html.ActionLink("Don't have an account? Sign Up", "SignUp", "Account", null, new { @class = "register_here" }) </p>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var $form = $('.form_signIn');
            var $submit = $form.find('input[type="submit"]');
            var $loader = $('.page_loader');

            // Initially disable the submit button
            $submit.prop('disabled', true);

            // Watch form changes and enable/disable submit
            $form.on('input change', function () {
                if ($form.valid()) {
                    $submit.prop('disabled', false);
                } else {
                    $submit.prop('disabled', true);
                }
            });

            // Show loader on submit
            $form.on('submit', function () {
                if ($form.valid()) {
                    $loader.show(); // Show the loader
                }
            });
        });
    </script>
}
