@model client.Models.Form
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Account Login</title>
    <link href="~/Content/shared.css" rel="stylesheet" />
    <link href="~/Content/account.css" rel="stylesheet" />
    <link href="~/Content/toast-message.css" rel="stylesheet" />
    <link href="~/Content/loader.css" rel="stylesheet" />
    <script src="~/Scripts/form.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" />
</head>
<body>
    @if (Model.ToastNotification.IsEnable)
    {
        Html.RenderPartial("_ToastNotification", Model.ToastNotification);
    }

    <div class="form-container">
    @if (Model.showSignInForm)
    {
        using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { @class = "form_signIn" }))
        {
            <h2 class="form_signIn_header">Sign In</h2>
            <div class="form_signIn_email">
                @Html.LabelFor(formModel => formModel.SignIn.Email, new { @class = "form_signIn_label" })
                <div class="form_signIn_input">
                    @Html.TextBoxFor(formModel => formModel.SignIn.Email, new { autocomplete = "off", type = "email" })
                </div>
                <p>@Html.ValidationMessageFor(formModel => formModel.SignIn.Email)</p>
            </div>
            <div class="form_signIn_password">
                @Html.LabelFor(formModel => formModel.SignIn.Password, new { @class = "form_signIn_label" })
                <div class="form_signIn_input">
                    @Html.PasswordFor(formModel => formModel.SignIn.Password, new { id = "signIn_password_input" })
                    <i class="fa-solid fa-eye" id="form_signIn_password_show" onclick="showPassword('signIn')"></i>
                    <i class="fa-solid fa-eye-slash" id="form_signIn_password_hide" onclick="hidePassword('signIn')"></i>
                </div>
                <p>@Html.ValidationMessageFor(formModel => formModel.SignIn.Password)</p>
            </div>
            <div class="form_signIn_btn">
                @Html.AntiForgeryToken()
                <input type="submit" value="Login" class="button" disabled />
            </div>
            <div class="form_signIn_other_actions">
                <p><span>Forgot Password</span></p>
                <p>@Html.ActionLink("Don't have an account? Sign Up", "SignUp", "Account", null, new { @class = "register_here" }) </p>
            </div>

            <script type="text/javascript">
                $(document).ready(function () {
                    var $form = $('.form_signIn');
                    var $submit = $form.find('input[type="submit"]');
                    var $loader = $('.page_loader');

                    // Initially disable the submit button
                    $submit.prop('disabled', true);

                    // Watch form changes and enable/disable submit
                    $form.on('input change', function () {
                        if ($form.valid()) {
                            $submit.prop('disabled', false);
                        } else {
                            $submit.prop('disabled', true);
                        }
                    });

                    // Show loader on submit
                    $form.on('submit', function () {
                        if ($form.valid()) {
                            $loader.show(); // Show the loader
                        }
                    });
                });
            </script>
        }
    }

    @if (Model.showSignUpForm)
    {
        using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { @class = "form_registration" }))
        {
            <h2 class="form_registration_header">Sign Up</h2>
            <div class="form_registration_name">
                @Html.LabelFor(formModel => formModel.SignUp.Name, new { @class = "form_registration_label" })
                <div class="form_registration_input">
                    @Html.TextBoxFor(formModel => formModel.SignUp.Name, new { autocomplete = "off" })
                </div>
                <p>@Html.ValidationMessageFor(formModel => formModel.SignUp.Name)</p>
            </div>
            <div class="form_registration_email">
                @Html.LabelFor(formModel => formModel.SignUp.Email, new { @class = "form_registration_label" })
                <div class="form_registration_input">
                    @Html.TextBoxFor(formModel => formModel.SignUp.Email, new { autocomplete = "off", type = "email" })
                </div>
                <p>@Html.ValidationMessageFor(formModel => formModel.SignUp.Email)</p>
            </div>
            <div class="form_registration_password">
                @Html.LabelFor(formModel => formModel.SignUp.Password, new { @class = "form_registration_label" })
                <div class="form_registration_input">
                    @Html.PasswordFor(formModel => formModel.SignUp.Password, new { id = "registration_password_input" })
                    <i class="fa-solid fa-eye" id="form_registration_password_show" onclick="showPassword('registration')"></i>
                    <i class="fa-solid fa-eye-slash" id="form_registration_password_hide" onclick="hidePassword('registration')"></i>
                </div>
                <p>@Html.ValidationMessageFor(formModel => formModel.SignUp.Password)</p>
            </div>
            <div class="form_registration_btn">
                @Html.AntiForgeryToken()
                <input type="submit" value="Submit" class="button" />
            </div>
            <div class="form_registration_other_actions">
                <p>@Html.ActionLink("Have an account? LogIn", "SignIn", "Account", null, new { @class = "login_here" }) </p>
            </div>

            <script type="text/javascript">
                $(document).ready(function () {
                    var $form = $('.form_registration');
                    var $submit = $form.find('input[type="submit"]');
                    var $loader = $('.page_loader');

                    // Initially disable the submit button
                    $submit.prop('disabled', true);

                    // Watch form changes and enable/disable submit
                    $form.on('input change', function () {
                        if ($form.valid()) {
                            $submit.prop('disabled', false);
                        } else {
                            $submit.prop('disabled', true);
                        }
                    });

                    // Show loader on submit
                    $form.on('submit', function () {
                        if ($form.valid()) {
                            $loader.show(); // Show the loader
                        }
                    });
                });
            </script>
        }
    }
    </div>

    @Html.Partial("_Loader");
</body>
</html>